<style>
  .link_button {
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    background: #4479BA;
    padding: 8px 12px;
    text-decoration: none;
  }
</style>
<h1>New Story</h1>

<%= render 'form' %>

<%= link_to 'Back', stories_path , :class => "link_button"%>
<html>
<body bgcolor="#E6E6FA">

<h1>Hello world!</h1>
<p><a href="https://www.w3schools.com">Visit W3Schools.com!</a></p>

<p>The bgcolor attribute is not supported in HTML5. Use CSS instead.</p>

</body>
</html>
